<% if @snippet.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@snippet.errors.count, "error") %> 
        prohibited this snippet from being published:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% @snippet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
