/* navigation bar */
#nav {
    position: fixed;
    height: 38px;
    width: 100%;
    background-color: #f5f9ba;
    margin-top: -60px;
}

#top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
    height: 8px;
    position: relative;
    background-color: #f5f9ba;
    top: -18px;
}

.break {
    clear: both;
}

nav ul {
    list-style-type: none;
    float: right;
    border-left: #c0c38c solid 1px;
    padding-left:45px;
    margin-left: 5px;
}

nav li { 
    float: left;
    text-align: left;
    vertical-align: middle;
    height: 30px;
}

nav li.lookup {
    float: right;
    border-left: #c0c38c solid 1px;
    padding-left: 5px;
    margin-left: 45px;
}

nav a, nav label {
    display: inline-block;
    padding-left: 5px;
    margin-right: 5px;
    font-size: large;
    color: #c0c38c;
}

nav label {
    font-style: italic;
}

nav form {
    display: block;
    width: 100%;
}

nav input[type=submit] {
    padding: 0px;
    padding-bottom: 2px;
    margin: 0px;
    margin-right: 8px;
    border: 0px;
    font-style: italic;
    color: #f5f9ba;
    background-color: #c0c38c;
    border-left: #f5f9ba solid 1px;
}

nav input[type=number] {
    padding: 0px;
    margin: 0px;
    margin-left: 8px;
    border: 0px;
    width: 3em;
    color: #f5f9ba;
    background-color: #c0c38c;
}

nav h1 {
    float: left;
    color: #c0c38c;
    padding-left: 25px;
    font-size: x-large;
    padding-top: 2px;
    height: 28px;
    vertical-align: middle;
}

nav .new_lookup label {
    margin-right: 0px;
    border: 0px;
}

nav .new_lookup span {
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 15px;
    background-color: #c0c38c;
}

/* content */
body {
    background-color: #c0c38c;
}

section {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 15px;
    width: 710px;
    margin-top: 60px;
    height: 40em;
}

#container, #top {
    background-color: #c0c38c;
    width: 100%;
}

.syntaxhighlighter {
    height: 38em;
}

/* Snippet form */
.new_snippet textarea{
    font-family: monospace;
}

#new_snippet ul {
    padding: 0;
}

#new_snippet li {
    list-style: none;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: #fbc2c4;
  display: table;
}

#error_explanation {
  width: 400px;
  border: 2px solid #fbc2c4;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: -1px;
  background-color: #fbc2c4;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}