<%= form_for Lookup.new, :url => :lookup, :validate => true do |f| %>
  <%= f.label :snippet_id, 'Snippet #' %>
  <span>
  <%= f.text_field :snippet_id, :class => 'text', :size => 5, :min => 1 %>
  <%= f.submit t(:lookup) %>
  </span>
<% end %>