<h1>About Us</h1>
<p>
  <a href="http://pastis.heroku.com/">Pastis</a>
  is a project a GPL Licence project developped 
  with <a href="https://github.com/floreal/pastis/">Ruby on Rails</a>.
  It's source code is hosted at <a>github</a>
</p>
